@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input::placeholder {
  color: transparent;
  background: linear-gradient(to right, #9333EA, #4F46E5);
  -webkit-background-clip: text;
  background-clip: text;
  color: #6B3FE7; /* sets the color of both caret and text */
  -webkit-text-fill-color: transparent; /* sets just the text color */
}

.gradient-text {
  background: linear-gradient(to right, #4F46E5, #9333EA); /* Tailwind's from-blue-400 to-purple-500 */
  -webkit-background-clip: text;
  background-clip: text;
  color: #6B3FE7; /* sets the color of both caret and text */
  -webkit-text-fill-color: transparent; /* sets just the text color */
}
